<div class="jumbotron">
    <p class="lead">
        GetCardapio
        <ul>
            <li> O objetivo do método GetCardapio é retornar uma </li>
            <li> consulta de lanches do cardápio (uma linha por lanche)</li>
        </ul>
    </p>
    <p><a href="~/api/xmenlanches/GetCardapio" class="btn btn-primary btn-lg">GetCardapio</a></p>
</div>


<div class="jumbotron">
    <p class="lead">
        AddPedido
        <ul>
            <li> O objetivo do método AddPedido é criar um novo pedido na base (vazio, ainda sem itens)</li>
            <li> Pode-se ou não passar os dados de Nome de Chamada e CPF</li>
            <li> O retorno é o ID do Pedido</li>
        </ul>
    </p>
    <p><a href="~/api/xmenlanches/AddPedido" class="btn btn-primary btn-lg">AddPedido</a></p>
</div>